{% extends 'index.html' %}
{% load static %}

{% block title %}{% endblock %}

{% block content %}
    <nav class="nav">
        <div style="display: flex; align-items: center;flex-direction: row">
            <a class="nav-link" href="#"><img src="{% static 'images/header.svg' %}" style="width: 104px;"></a>
            <a class="nav-link" id="close" href="#" style="margin-left: 24%"><img src="{% static 'images/close.svg' %}"
                                                                                  style="width: 60px; "></a>
        </div>
    </nav>

    <div class="card mb-4">
        <div class="card-body">
            <h5 class="mb-4">Right Modal</h5>
            <button type="button" class="btn btn-outline-primary" data-toggle="modal"
                    data-backdrop="static" data-target="#exampleModalRight">Right Modal
            </button>
            <div class="modal fade modal-right" id="exampleModalRight" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalRight" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">

                        <div class="" style="display: flex;justify-content: space-between">
                            <img type="button" class="close" data-dismiss="modal" aria-label="Close"
                                 style="margin-top: 6%; margin-left: 6%" src="{% static 'images/close_modal.svg' %}">
                            <h2 class="middle" style="color: black;margin-top: 6%;margin-right:25%">Привязать
                                телефон</h2>
                        </div>
                        <div class="" style="padding-left: 6%; padding-right: 6%">
                            <div class="center" style="flex-direction: column;align-items: center; margin-top: 3%">
                                <label class="form-label semi f-16 grey">Укажите номер телефона, на который вы
                                    оставляли</label>
                                <label class="form-label semi f-16 grey">свои вещи в постамате KeepIt</label>
                            </div>
                            <form class="modal-code" style="margin-top: 11%">
                                <label class="form-label semi f-16 grey">Номер телефона</label>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control text-input">
                                </div>
                                <button id="btn_doc" disabled class="btn get-code bold">Получить код</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div align="center" style="margin-top: 4%">
        <h2 class="middle" style="color: black;margin-bottom: 2.75rem;">Заполнить профиль</h2>
    </div>

    <div class="btngroup" style="margin: auto; margin-bottom: 40px">
        <button data-value="#lk" class="btn selected">Личные данные</button>
        <button data-value="#doc" class="btn">Паспортные данные</button>
        <button data-value="#address" class="btn">Адреса доставки</button>
    </div>

    <div id="lk" class="divprof" style="">
        <input type="number" class="form-control text-input-big">
        <label class="form-label semi f-16 grey">Логин</label>
        <div class="input-group mb-3">
            <input type="text" class="form-control text-input">
        </div>
        <label class="form-label semi f-16 grey">Пароль</label>
        <div class="input-group mb-3">
            <input type="password" class="form-control text-input">
        </div>
        <label class="form-label semi f-16 grey">Электронная почта</label>
        <div class="input-group mb-3">
            <input type="email" class="form-control text-input">
        </div>
        <input type="number" class="form-control text-input-big">

        <button id="btn_lk" disabled class="btn btn-save bold">Сохранить изменения</button>
    </div>
    <div id="doc" style="display: none;">
        <div style="display: flex;  margin: auto; justify-content: center">
            <div class="divprof" style="margin: 0">
                <label class="form-label semi f-16 grey">Ваше ФИО</label>
                <div class="input-group mb-3">
                    <input type="text" class="form-control text-input">
                </div>
                <label class="form-label semi f-16 grey">Серия и номер паспорта</label>
                <div class="input-group mb-3">
                    <input type="text" class="form-control text-input">
                </div>
                <label class="form-label semi f-16 grey">Дата выдачи</label>
                <div class="input-group mb-3">
                    <input type="date" class="form-control text-input">
                </div>
                <label class="form-label semi f-16 grey">Кем выдан</label>
                <div class="input-group mb-3">
                    <input type="text" class="form-control text-input">
                </div>
                <label class="form-label semi f-16 grey">Дата рождения</label>
                <div class="input-group mb-3">
                    <input type="date" class="form-control text-input">
                </div>
            </div>

            <div style="margin-left: 32px">
                <label class="form-label semi f-16 grey" style="margin-top: 16px">Скан или фото паспорта</label>
                <form action="/file-upload"
                      class="dropzone"
                      id="first_scan"></form>
                <label class="form-label semi f-16 grey" style="margin-top: 16px">Первый разворорт с ФИО и фото
                    лица</label>
                <form action="/file-upload"
                      class="dropzone"
                      id="second_scan"></form>
                <label class="form-label semi f-16 grey" style="margin-top: 16px">Разворот с пропиской</label>
            </div>

        </div>
        <button id="btn_doc" disabled class="btn btn-save bold">Сохранить изменения</button>
    </div>
    <div id="address" class="center" style="display: none">
        <div style="display: flex; margin: auto; justify-content: center">
            <div class="divprof" style="margin: 0">
                <label class="form-label semi f-16 grey">Название адреса</label>
                <div class="input-group mb-3">
                    <input type="text" class="form-control text-input">
                </div>
                <label class="form-label semi f-16 grey">Адрес доставки</label>
                <div class="input-group mb-3">
                    <input type="text" class="form-control text-input">
                </div>

                <div class="row">
                    <div class="col">
                        <label class="form-label semi f-16 grey">Подъезд</label>
                        <div class="input-group mb-3">
                            <input type="number" class="form-control number-input">
                        </div>
                    </div>
                    <div class="col">
                        <label class="form-label semi f-16 grey">Этаж</label>
                        <div class="input-group mb-3">
                            <input type="number" class="form-control number-input">
                        </div>
                    </div>
                    <div class="col">
                        <label class="form-label semi f-16 grey">Квартира</label>
                        <div class="input-group mb-3">
                            <input type="number" class="form-control number-input">
                        </div>
                    </div>
                    <div class="col">
                        <label class="form-label semi f-16 grey">Код домофона</label>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control number-input">
                        </div>
                    </div>
                </div>

                <div class="center">
                    <a class="btn btn-address bold" href="#">Добавить адрес в мой список</a>
                </div>
            </div>
            <style>
                .form-check-input:checked {
                    background-color: #3333FF;
                    border-color: #3333FF;
                }

            </style>
            <div style="margin-left: 32px">
                <div class="div-my-addresses" style="padding-bottom: 1px">
                    <label class="form-label semi f-16 grey" style="margin-left: 5%; margin-top: 5%;">Мои адреса</label>
                    <div class="form-check" style="margin-left: 5%; margin-right: 5%; margin-bottom: 5%">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1"
                               style="background-image: none;width: 1.5rem;height: 1.5rem;">
                        <label class="form-check-label" for="flexRadioDefault1" style="margin-left: 2%">
                            Дом Основной
                            <br>
                            Москва, Духовской переулок 22а, подъезд 1, кв. 21. Код домофона: в1212в12в
                            <br>
                            <a class="" href="#" style="color: #3333FF">Редактировать</a>
                            <a class="" href="#" style="color: #BF4040">Удалить</a>
                        </label>
                    </div>
                    <div class="form-check" style="margin-left: 5%; margin-right: 5%; margin-bottom: 5%">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2"
                               style="background-image: none;width: 1.5rem;height: 1.5rem;">
                        <label class="form-check-label" for="flexRadioDefault2" style="margin-left: 2%">
                            Работа
                            <br>
                            Москва, улица Барклая, 6с5
                            <br>
                            <a class="" href="#" style="color: #3333FF">Редактировать</a>
                            <a class="" href="#" style="color: #BF4040">Удалить</a>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <button id="btn_address" disabled class="btn btn-save bold">Сохранить изменения</button>
    </div>
    </div>



{% endblock %}



{% block script %}
    <script src="{% static 'js/document.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script>
    </script>
{% endblock %}