{% extends 'index.html' %}
{% load static %}

{% block title %}{% endblock %}

{% block content %}
    <nav class="nav">
        <div style="display: flex; align-items: center;flex-direction: row">
            <a class="nav-link" href="#"><img src="{% static 'images/header.svg' %}" style="width: 104px;"></a>
            <a class="nav-link" id="close" href="#" style="margin-left: 24%"><img src="{% static 'images/close.svg' %}"
                                                                                  style="width: 60px; "></a>
        </div>
    </nav>

    <div style="position:absolute;border-radius: 12px;width: 22.09%;height: 6.49%;background: #B3E5C4;display: flex;
    justify-content: center;
    align-items: center;bottom: 2.97%;
    right: 1.67%;
    margin: auto;">
        <label class="semi f-18 black">Телефон успешно привязан</label>
    </div>

    {#==========================Модальное окно номера телефона=============================#}
    <div class="modal fade modal-right" id="exampleModalRight" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalRight" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="" style="display: flex;justify-content: space-between">
                    <img type="button" class="close" data-dismiss="modal" aria-label="Close"
                         style="margin-top: 6%; margin-left: 6%" src="{% static 'images/close_modal.svg' %}">
                    <h2 class="middle" style="color: black;margin-top: 6%;margin-right:25%">Привязать
                        телефон</h2>
                </div>
                <div class="" style="padding-left: 6%; padding-right: 6%">
                    <div class="center" style="flex-direction: column;align-items: center; margin-top: 3%">
                        <label class="form-label semi f-16 grey">Укажите номер телефона, на который вы
                            оставляли</label>
                        <label class="form-label semi f-16 grey">свои вещи в постамате KeepIt</label>
                    </div>
                    <form class="modal-code" style="margin-top: 11%">
                        <label class="form-label semi f-16 grey">Номер телефона</label>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control text-input">
                        </div>
                        <button id="btn_doc" disabled class="btn get-code bold">Получить код</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {#==========================================================================================#}

    {#==========================Модальное окно MILEONAIR=============================#}
    <div class="modal fade modal-right" id="exampleModalRight2" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalRight2" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="" style="display: flex;justify-content: space-between">
                    <img type="button" class="close" data-dismiss="modal" aria-label="Close"
                         style="margin-top: 6%; margin-left: 6%" src="{% static 'images/close_modal.svg' %}">
                    <h2 class="middle" style="color: black;margin-top: 6%;margin-right:19%">Подключить MILEONAIR</h2>
                </div>
                <div class="" style="padding-left: 6%; padding-right: 6%">
                    <div align="center" class="center"
                         style="flex-direction: column;align-items: center; margin-top: 3%">
                        <label class="form-label semi f-16 grey">Укажите номер телефона, на который вы
                            регистрировались<br>
                            в программе лояльности MILEONAIR</label>
                    </div>
                    <form class="modal-code" style="margin-top: 11%">
                        <div>
                            <label class="form-label semi f-16 grey">Номер телефона</label>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control text-input">
                            </div>
                        </div>
                        <div style="margin-bottom: 4.2%;">
                            <label class="form-label semi f-16 grey" style="">Код из СМС</label>
                            <div class="code-input-group input-group" style="">
                                <input type="text" class="form-control" placeholder="250"
                                       aria-describedby="basic-addon1">
                                <span class="input-group-text" style="color:#D50029;">Неверный код</span>
                            </div>
                            <a class="" href="#" style="color: #3333FF">Отправить код повторно</a>
                        </div>
                        <button id="btn_doc" disabled class="btn get-code bold">Получить код</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {#==========================================================================================#}



    <div align="center" style="margin-top: 0.94%">
        <h2 class="middle" style="color: black;margin-bottom: 2.75rem;">Заполнить профиль</h2>
    </div>

    <div class="btngroup" style="margin: auto; margin-bottom: 40px">
        <button data-value="#lk" class="btn selected">Личные данные</button>
        <button data-value="#doc" class="btn">Паспортные данные</button>
        <button data-value="#address" class="btn">Адреса доставки</button>
    </div>

    <div id="lk" class="divprof" style="">
        <div class="div-input">
            <div class=""
                 style="display: flex;flex-direction: row;justify-content: space-between;align-items: center">
                <div style="display: flex; flex-direction: column">
                    <label class="semi f-18 black">Номер телефона</label>
                    <label class="semi f-16 grey">Не привязан</label></div>
                <a data-toggle="modal" data-backdrop="static" data-target="#exampleModalRight">Привязать</a>
            </div>
        </div>
        <label class="form-label semi f-16 grey">Логин</label>
        <div class="input-group mb-3">
            <input type="text" class="form-control text-input">
        </div>
        <label class="form-label semi f-16 grey">Пароль</label>
        <div class="input-group mb-3">
            <input type="password" class="form-control text-input">
        </div>
        <label class="form-label semi f-16 grey">Электронная почта</label>
        <div class="input-group mb-3">
            <input type="email" class="form-control text-input">
        </div>
        <div class="div-input">
            <div class=""
                 style="display: flex;flex-direction: row;justify-content: space-between;align-items: center">
                <div style="display: flex; flex-direction: column">
                    <label class="semi f-18 black">MILEONAIR</label>
                    <label class="semi f-16 grey">Программа лояльности</label></div>
                <a data-toggle="modal" data-backdrop="static" data-target="#exampleModalRight2">Подключить</a>
            </div>
        </div>
        <button id="btn_lk" disabled class="btn btn-save bold">Сохранить изменения</button>
    </div>
    <div id="doc" style="display: none;">
        <div style="display: flex;  margin: auto; justify-content: center">
            <div class="divprof" style="margin: 0">
                <label class="form-label semi f-16 grey">Ваше ФИО</label>
                <div class="input-group mb-3">
                    <input type="text" class="form-control text-input">
                </div>
                <label class="form-label semi f-16 grey">Серия и номер паспорта</label>
                <div class="input-group mb-3">
                    <input type="text" class="form-control text-input">
                </div>
                <label class="form-label semi f-16 grey">Дата выдачи</label>
                <div class="input-group mb-3">
                    <input type="date" class="form-control text-input">
                </div>
                <label class="form-label semi f-16 grey">Кем выдан</label>
                <div class="input-group mb-3">
                    <input type="text" class="form-control text-input">
                </div>
                <label class="form-label semi f-16 grey">Дата рождения</label>
                <div class="input-group mb-3">
                    <input type="date" class="form-control text-input">
                </div>
            </div>

            <div style="margin-left: 32px">
                <label class="form-label semi f-16 grey" style="margin-top: 16px">Скан или фото паспорта</label>
                <form action="/file-upload"
                      class="dropzone"
                      id="first_scan"></form>
                <label class="form-label semi f-16 grey" style="margin-top: 16px">Первый разворорт с ФИО и фото
                    лица</label>
                <form action="/file-upload"
                      class="dropzone"
                      id="second_scan"></form>
                <label class="form-label semi f-16 grey" style="margin-top: 16px">Разворот с пропиской</label>
            </div>

        </div>
        <button id="btn_doc" disabled class="btn btn-save bold">Сохранить изменения</button>
    </div>

    <div id="address" class="" style="display: none">
        <div style="display: flex; margin: auto; justify-content: center;align-items: flex-start">
            <div class="div-add-addresses" style="margin-right: 2.5%;">
                <label class="form-label semi f-16 grey">Название адреса</label>
                <div class="input-group mb-3">
                    <input type="text" class="form-control text-input">
                </div>
                <label class="form-label semi f-16 grey">Адрес доставки</label>
                <div class="input-group mb-3">
                    <input type="text" class="form-control text-input">
                </div>

                <div class="row">
                    <div class="col">
                        <label class="form-label semi f-16 grey">Подъезд</label>
                        <div class="input-group mb-3">
                            <input type="number" class="form-control number-input">
                        </div>
                    </div>
                    <div class="col">
                        <label class="form-label semi f-16 grey">Этаж</label>
                        <div class="input-group mb-3">
                            <input type="number" class="form-control number-input">
                        </div>
                    </div>
                    <div class="col">
                        <label class="form-label semi f-16 grey">Квартира</label>
                        <div class="input-group mb-3">
                            <input type="number" class="form-control number-input">
                        </div>
                    </div>
                    <div class="col">
                        <label class="form-label semi f-16 grey">Код домофона</label>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control number-input">
                        </div>
                    </div>
                </div>
                <div class="center">
                    <a class="btn btn-address bold" href="#">Добавить адрес в мой список</a>
                </div>
            </div>
            <div>
                <label class="form-label semi f-16" style="color:#f9f9fa;">/</label>
                <div class="div-my-addresses" style="">
                    <label class="form-label semi f-16 grey">Мои адреса</label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Дом <label class="semi f-16 grey">Основной</label>
                            <br>
                            Москва, Духовской переулок 22а, подъезд 1, кв. 21. Код домофона: в1212в12в
                            <br>
                            <a class="" href="#" style="color: #3333FF">Редактировать</a>
                            <a class="" href="#" style="color: #BF4040">Удалить</a>
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                        <label class="form-check-label" for="flexRadioDefault2">
                            Работа
                            <br>
                            Москва, улица Барклая, 6с5
                            <br>
                            <a class="" href="#" style="color: #3333FF">Редактировать</a>
                            <a class="" href="#" style="color: #BF4040">Удалить</a>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <button id="btn_address" disabled class="btn btn-save bold">Сохранить изменения</button>
    </div>



{% endblock %}



{% block script %}
    <script src="{% static 'js/document.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
{% endblock %}