{% extends 'index.html' %}
{% load staff_lost_item %}
{% load static %}
{% block title %}Панель сотрудника{% endblock %}



{% block content %}
    <style type="text/css">
        .nav-right {
            width: 25%;
        }

        .nav-info {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
        }

        .staff-main {
            width: 100%;
            padding: 3% 10% 0 10%;
        }

        .staff-header-nav {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 3%;
        }

        .staff-header-left {
            width: 70%;
        }

        .staff-header-text {
            margin-right: 3%;
        }

        .staff-main-main {
            width: 100%;
            display: flex;
            flex-direction: row;
        }

        .staff-main-items {
            width: 75%;
            padding-right: 1%;
        }

        .staff-list-filter {
            width: 25%;
            padding-left: 1%;
        }


        .thing {
            background: #FFFFFF;
            width: 100%;
            box-shadow: 0px 16px 32px -16px rgba(0, 0, 0, 0.08);
            border-radius: 16px;
            display: flex;
            flex-direction: row;
            padding: 2%;
            margin-right: 1%;
            margin-bottom: 3%;
        }

        .thing-main {
            width: 100%;
            display: flex;
            flex-direction: column;
        }

        .thing-info-all {
            display: flex;
            flex-direction: row;
            width: 100%;
        }

        .thing-photo {
            width: 100%;
            height: auto;
            margin-bottom: 3%;
        }

        .gallery {
            width: 14%;
            height: 550px;
            margin-right: 3%;
            overflow: auto;
        }

        .gallery::-webkit-scrollbar {
            width: 0;
        }

        #gallery::-webkit-scrollbar {
            width: 0;
        }

        .date-time {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;
            margin-bottom: 7%;
        }

        .date, .time {
            display: flex;
            flex-direction: row;
        }

        .date {
            width: 60%;
        }

        .time {
            width: 40%;
        }

        .thing-left {
            width: 45%;
            border-right: 1px solid #23232A14;
        }

        .thing-right {
            width: 45%;
            margin-left: 5%;
        }

        .thing-info {
            display: flex;
            margin-bottom: 5%;
        }

        .thing .label {
            font-size: 16px;
            color: #0C0C0D7A;
            font-family: Inter;
        }

        .thing .value {
            font-size: 18px;
            color: #0C0C0D;
            font-family: Inter;
        }

        .thing-icon {
            font-size: 32px;
            margin-right: 7%;
        }

        .btn-refound {
            color: #0C0C0D;
            font-size: 14px;
            font-family: Inter;
            font-weight: 600;
            width: 100%;
            margin-top: 1%;
            background: #DFDFE1;
            display: flex;
            box-shadow: inset 0px 8px 32px rgba(255, 255, 255, 0.08);
            border-radius: 12px;
            align-items: center;
            justify-content: center;
            height: 56px;
        }

        .btn-refound:hover {
            color: #0C0C0D;
        }

        .staff-search {
            width: 100%;
            background: #FFFFFF;
            box-shadow: 0px 16px 32px -16px rgba(0, 0, 0, 0.08);
            border-radius: 16px;
            border: none;
            font-size: 18px;
            padding: 3% 3.5%;
            margin-bottom: 10%;
        }

        .label-selector {
            color: #0C0C0D7A;
            font-size: 16px;
            font-weight: 400;
            font-family: Inter;
        }

        .myselect {
            width: 100%;
            margin-top: 1%;
            background: rgba(35, 35, 42, 0.08);
            border-radius: 12px;
            color: #0C0C0D;
            padding: 3% 3.5%;
            border: none;
            font-size: 18px;
            font-family: Inter;
            margin-bottom: 10%;

        }

        .form-switch-order {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding-left: 0;
            align-items: center;
        }

        .switch-label {
            color: #0C0C0D;
            font-size: 16px;
            font-weight: 400;
            font-family: Inter;
        }

        .form-data-space {
            display: flex;
            flex-direction: row;
            margin-top: 4%;
            margin-bottom: 10%;
        }

        .form-data {
            width: 49%;
            margin-right: 2%;
        }

        .data-label {
            color: #0C0C0D7A;
            font-size: 16px;
            font-weight: 400;
            font-family: Inter;
        }

        .data-input {
            border: none;
            margin-top: 5%;
        }

        .form-color {
            width: 100%;
            padding: 8% 5%;
            background: #FFFFFF;
            /* card */

            box-shadow: 0px 16px 32px -16px rgba(0, 0, 0, 0.08);
            border-radius: 16px;
            border: none;
        }

        .color-label {
            color: #0C0C0D7A;
            font-size: 16px;
            font-weight: 400;
            font-family: Inter;
        }


        .colors {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin-top: 10%;
        }

        .color {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            margin-right: 3%;
            border: black solid 1px;
        }

        .color:hover {
            cursor: pointer;
        }

        .my-modal-dialog {
            width: 50%;
            max-width: 50%;
        }

        .my-modal-dialog-center {
            width: 30%;
            max-width: 30%;
        }

        .my-modal-content {
            border: none;
            border-radius: 0 0 12px 12px;
            width: 100%
        }

        .modal-center {
            border: none;
            border-radius: 16px;
        }

        .my-modal-body {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 3% 5%;
        }

        .my-modal-body-center {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: flex-start;
            width: 100%;
        }

        .modal-btn {
            display: flex;
            flex-direction: row;
            width: 40%;
            align-items: center;
        }

        .modal-info-label {
            font-size: 16px;
            color: #0C0C0D7A;
            font-family: Inter;
        }

        .modal-info-value {
            font-size: 18px;
            color: #0C0C0D;
            font-family: Inter;
        }

        .modal-photo {
            width: 100%;
            margin-bottom: 2%;
        }

        .modal-main {
            width: 72%;
        }

        .modal-main .value {
            font-size: 18px;
            color: #0C0C0D;
            font-family: Inter;
        }

        .modal-main .label {
            font-size: 16px;
            color: #0C0C0D7A;
            font-family: Inter;
        }

        .select-item {
            width: 100%;
            background-color: #33f;
            color: white;
            box-sizing: border-box;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        }

        .select-item:hover {
            color: white;
        }

        .search-form {
            position: relative;
            width: 100%;
            flex-direction: row;
        }

        .search {
            position: absolute;
            font-size: 28px;
            right: 16px;
            top: 4px;
            z-index: 10;
        }

        input[type="date"]::-webkit-calendar-picker-indicator {
            background-image: url({% static "/images/calendar.svg" %});
        }

        .form-check-input[type=radio]:checked {
            background-image: url({% static "images/check2.svg" %});
        }

    </style>

    <nav class="nav">
        <div class="nav-left">
            <a class="" href="#"><img src="{% static 'images/header.svg' %}" style="width: 104px;"></a>
        </div>
        <div class="nav-right">
            <div class="nav-info">
                <i class="bi bi-person-circle" style="font-size: 28px; margin-right: 5%"></i>
                <div class="hi_say">
                    <span class="f-16 grey">Здравствуйте,</span>
                    <div class="f-18 black">{{ info.name }}</div>
                </div>
            </div>
        </div>
    </nav>

    <div id="success_add" style="display: none">
        <div style="position:absolute;border-radius: 12px;width: 22.09%;height: 6.49%;background: #B3E5C4;display: flex;
    justify-content: center;
    align-items: center;bottom: 2.97%;
    right: 1.67%;
    margin: auto;">
            <label class="semi f-16 black">Вещь успешно принята в камеру хранения</label>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="newItem" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true" style="top: 0px">
        <div class="modal-dialog my-modal-dialog" style="margin-top: -1px">
            <div class="modal-content my-modal-content ">
                <div class="modal-body my-modal-body">
                    <div class="modal-info">
                        <div class="modal-info-label">Новая сдача</div>
                        <div id="user_from" class="modal-info-value">Александра Сергеева</div>
                    </div>
                    <div class="modal-btn">
                        <a class="btn btn-next" id="addItem"
                           style="margin-right: 3%; height: 56px;">Принять вещь</a>
                        <button type="button" id="closeItem" class="btn btn-refound">Отменить</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-dialog my-modal-dialog-center" style="margin-top: 10%">
            <div class="modal-content modal-center">
                <div class="modal-body my-modal-body-center ">
                    <div id="gallery"
                         style="display: flex; flex-direction: column; width: 25%;height: 340px; margin-right: 3%; overflow: scroll;">
                    </div>
                    <div id="item-info" class="modal-main">
                        <div class="div-title">
                            <div class="title value">Вещь найдена</div>
                        </div>
                        <div class="date-time">
                            <div class="date">
                                <div class="thing-icon"><img class="size" src="{% static "images/date.svg" %}"
                                                             alt="">
                                </div>
                                <div class="date-info">
                                    <div class="label">Дата</div>
                                    <div id="date" class="value">10 декабря 2021</div>
                                </div>
                            </div>
                            <div class="time">
                                <div class="thing-icon"><i class="bi bi-clock-fill"></i></div>
                                <div class="time-info">
                                    <div class="label">Время</div>
                                    <div id="time" class="value">19:00</div>
                                </div>
                            </div>
                        </div>
                        <div class="thing-info">
                            <div class="thing-icon"><i class="bi bi-person-circle"></i></div>
                            <div class="thing-info-info">
                                <div class="label">Найдено сотрудником</div>
                                <div id="find_name" class="value">Александра Сергеевна</div>
                            </div>
                        </div>
                        <div class="thing-info">
                            <div class="thing-icon"><i class="bi bi-geo-alt-fill"></i></div>
                            <div class="thing-info-info">
                                <div class="label">Место обнаружения</div>
                                <div id="lg" class="value">Шереметьево. Терминал F</div>
                            </div>
                        </div>
                        <div class="thing-info">
                            <div class="thing-icon"><img class="size" src="{% static "images/act.png" %}"
                                                         alt="">
                            </div>
                            <div class="thing-info-info">
                                <div class="label">Акт осмотра</div>
                                <div id="act" class="value">Имеется</div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="staff-main">
        <div class="staff-header-nav">
            <div class="staff-header-left">
                <a href="" class="f-32 black bold staff-header-text">История приёмок</a>
                <a href="{% url "staff_panel_refound" %}" class="f-32 grey bold staff-header-text">Выданные вещи</a>
                <a href="{% url "staff_panel_refound_sab" %}"
                   class="f-32 grey bold staff-header-text">Невостребованные</a>
            </div>
            <div class="staff-refound">
                <button id="sendItem" class="btn btn-save" disabled>Произвести выдачу пассажиру</button>
            </div>
        </div>
        <div class="staff-main-main">
            <div class="staff-main-items">
                {% for lost in lost_item %}
                    <div class="thing" data-color="{{ lost.color.id }}">
                        <div class="gallery">
                            {% for photo in lost.sab_item.photo.all %}
                                <a href="{{ photo.photo.url }}" data-lightbox="{{ lost.id }}"><img
                                        src="{{ photo.photo.url }}" alt="" class="thing-photo"></a>

                            {% endfor %}
                        </div>
                        <div class="thing-main">
                            <div class="thing-info-all">
                                <div class="thing-left">
                                    <div class="div-title">
                                        <div class="title value">Вещь найдена</div>
                                    </div>
                                    <div class="date-time">
                                        <div class="date">
                                            <div class="thing-icon"><img class="size"
                                                                         src="{% static "images/date.svg" %}"
                                                                         alt="">
                                            </div>
                                            <div id="date-find" data-value="{{ lost.sab_item.date|date:"Y-m-dTH:i" }}"  class="date-info">
                                                <div class="label">Дата</div>
                                                <div class="value">{{ lost.sab_item.date|date:'d F Y' }}</div>
                                            </div>
                                        </div>
                                        <div class="time">
                                            <div class="thing-icon"><i class="bi bi-clock-fill"></i></div>
                                            <div class="time-info">
                                                <div class="label">Время</div>
                                                <div class="value">{{ lost.sab_item.date|date:"H:i" }}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="thing-info">
                                        <div class="thing-icon"><i class="bi bi-person-circle"></i></div>
                                        <div class="thing-info-info">
                                            <div class="label">Найдено сотрудником</div>
                                            <div data-value="{{ lost.sab_item.user.id }}"
                                                 class="value staff-sab">{{ lost.sab_item|get_worker_name }}</div>
                                        </div>
                                    </div>
                                    <div class="thing-info">
                                        <div class="thing-icon"><i class="bi bi-geo-alt-fill"></i></div>
                                        <div class="thing-info-info">
                                            <div class="label">Место обнаружения</div>
                                            <div class="value">{{ lost.sab_item.place.airport }},
                                                терминал {{ lost.sab_item.place.terminal }}</div>
                                        </div>
                                    </div>
                                    <div class="thing-info">
                                        <div class="thing-icon"><img class="size" src="{% static "images/act.png" %}"
                                                                     alt="">
                                        </div>
                                        <div class="thing-info-info">
                                            <div class="label">Акт осмотра</div>
                                            <div class="value">{% if lost.sab_item.act %}Имеется{% else %}Не
                                                имеется{% endif %} </div>
                                        </div>
                                    </div>
                                    <div class="thing-info">
                                        <div class="thing-icon"><i class="bi bi-file-text-fill"></i></div>
                                        <div class="thing-info-info">
                                            <div class="label">Класс вещи</div>
                                            <div class="value">{{ lost.category.name }}</div>
                                        </div>
                                    </div>
                                    <div class="thing-info">
                                        <div class="thing-icon"><i class="bi bi-exclamation-circle-fill"></i></div>
                                        <div class="thing-info-info">
                                            <div class="label">Вид вещи</div>
                                            <div class="value">{{ lost.kind.name }}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="thing-right">
                                    <div class="div-title value">
                                        <div class="title">Вещь сдана</div>
                                    </div>
                                    <div class="date-time">
                                        <div class="date">
                                            <div class="thing-icon"><img class="size"
                                                                         src="{% static "images/date.svg" %}"
                                                                         alt="">
                                            </div>
                                            <div class="date-info">
                                                <div class="label">Дата</div>
                                                <div class="value">{{ lost.date|date:"d F Y" }}</div>
                                            </div>
                                        </div>
                                        <div class="time">
                                            <div class="thing-icon"><i class="bi bi-clock-fill"></i></div>
                                            <div class="time-info">
                                                <div class="label">Время</div>
                                                <div class="value">{{ lost.date|date:"H:i" }}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="thing-info">
                                        <div class="thing-icon"><i class="bi bi-person-circle"></i></div>
                                        <div class="thing-info-info">
                                            <div class="label">Принято сотрудником</div>
                                            <div data-value="{{ lost.user.id }}"
                                                 class="value staff-kh">{{ lost|get_worker_name }}</div>
                                        </div>
                                    </div>
                                    <div class="thing-info">
                                        <div class="thing-icon"><i class="size bi bi-bag-fill"></i></div>
                                        <div class="thing-info-info">
                                            <div class="label">Камера</div>
                                            <div data-value="{{ lost.kh.airport.iata }}"
                                                 class="value airport">{{ lost.kh.airport }},
                                                терминал {{ lost.kh.terminal }}</div>
                                        </div>
                                    </div>
                                    <div class="thing-info">
                                        <div class="thing-icon"><i class="bi bi-chat-square-text-fill"></i></div>
                                        <div class="thing-info-info">
                                            <div class="label">Описание</div>
                                            <div class="value comment">{{ lost.comment }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button data-value="{{ lost.id }}" class="btn btn-refound item-refund">Вернуть вещь
                                пассажиру
                            </button>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="staff-list-filter">
                <div class="search-form">
                    <input class="staff-search" id="search" placeholder="Поиск..." style="padding-right: 15%"
                           type="text"><i
                        class="bi bi-search search"></i>
                </div>
                <div class="select-airport">
                    <label class="label-selector" for="">Аэропорт</label>
                    <div class="select" id="select-1">
                        <button type="button" class="select__toggle" name="airport" value="0"
                                data-select="toggle"
                                data-index="0">Выберите аэропорт
                        </button>
                        <div class="select__dropdown">
                            <ul class="select__options">
                                {% for air in airport %}
                                    <li class="select__option" data-select="option" data-value="{{ air.1.iata }}"
                                        data-index="{{ air.0 }}">
                                        {{ air.1.name }}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="form-check form-switch form-switch-order">
                    <label class="switch-label" for="flexSwitchCheckDefault">Сортировать по периоду</label>
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                </div>
                <div class="form-data-space">
                    <div class="form-data">
                        <label for="" class="data-label">Начало периода</label>
                        <input id="from_date" max="{{ now|date:"Y-m-d" }}" class="data-input text-input" type="date">
                    </div>
                    <div class="form-data" style="margin-right: 0">
                        <label for="" class="data-label">Конец периода</label>
                        <input id="to_date" max="{{ now|date:"Y-m-d" }}" class="data-input text-input" type="date">
                    </div>
                </div>
                <div class="select-airport">
                    <label class="label-selector" for="">Сотрудник КХ</label>
                    <div class="select" id="staff-kh">
                        <button type="button" class="select__toggle" name="staff_kh" value="0"
                                data-select="toggle"
                                data-index="0">Выбрать
                        </button>
                        <div class="select__dropdown">
                            <ul class="select__options">
                                {% for work in workers %}
                                    <li class="select__option" data-select="option" data-value="{{ work.1.id }}"
                                        data-index="{{ work.0 }}">
                                        {{ work.1|get_worker_name_from_user }}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="select-airport">
                    <label class="label-selector" for="">Сотрудник САБ</label>
                    <div class="select" id="staff-sab">
                        <button type="button" class="select__toggle" name="staff_kh" value="0"
                                data-select="toggle"
                                data-index="0">Выбрать
                        </button>
                        <div class="select__dropdown">
                            <ul class="select__options">
                                {% for work in workers %}
                                    <li class="select__option" data-select="option" data-value="{{ work.1.id }}"
                                        data-index="{{ work.0 }}">
                                        {{ work.1|get_worker_name_from_user }}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="form-color">
                    <label class="color-label" for="">Цвет вещи</label>
                    <div class="colors">
                        {% for color in colors %}
                            <input class="form-check-input"
                                   style="width:2rem; height:2rem; margin-right:2%; background-color: {{ color.color }}"
                                   type="radio" name="color" id="inlineRadio1" value="{{ color.id }}">
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}



{% block script %}
    <script src="{% static 'js/lightbox.js' %}"></script>
    <script>
        jQuery(function () {

                const airport = new CustomSelect('#select-1');
                const staffKh = new CustomSelect('#staff-kh');
                const staffSab = new CustomSelect('#staff-sab');
                var id = undefined


                function filterThing() {
                    var date_from = $('#from_date').val()
                    var date_to = $('#to_date').val()
                    $('.thing').hide();
                    $('.thing').each(function () {
                        var date = new Date($(this).find('#date-find').data('value'))
                        var find = true
                        var color = 0
                        $('.form-check-input[type="radio"]').each(function () {
                            if ($(this).is(":checked")) {
                                color = $(this).val()
                            }
                        })
                        if (date_from != "" && date <= new Date(date_from)){
                            find = false
                        }
                        if (date_to != "" && date >= new Date(date_to)){
                            find = false
                        }
                        if (color !== 0 && color != $(this).data('color')) {
                            find = false
                        }
                        if ($('#search').val() != "") {
                            var reg = new RegExp($('#search').val(), 'i')
                            if (!reg.test($(this).find('.comment').text())){
                                find = false
                            }
                        }
                        if (airport.value != 0 && airport.value != $(this).find('.airport').data('value')) {
                            find = false
                        }
                        if (staffKh.value != 0 && staffKh.value != $(this).find('.staff-kh').data('value')) {
                            find = false
                        }
                        if (staffSab.value != 0 && staffSab.value != $(this).find('.staff-sab').data('value')) {
                            find = false
                        }
                        if (find) {
                            $(this).show()
                        }
                    })
                }

                $('#search').change(function () {
                    filterThing()
                })

                $('#from_date').change(function () {
                    filterThing()

                })
                $('#to_date').change(function () {
                    filterThing()
                })
                document.querySelector('#select-1').addEventListener('select.change', (e) => {
                    filterThing()
                });
                document.querySelector('#staff-kh').addEventListener('select.change', (e) => {
                    filterThing()
                });
                document.querySelector('#staff-sab').addEventListener('select.change', (e) => {
                    filterThing()
                });
                $('.form-check-input').click(function () {
                    filterThing()
                })


                const socket = new WebSocket("ws://" + document.location.host + "/ws/send_item/{{ lg.id }}")
                var acceptItem = undefined
                socket.onmessage = function (e) {
                    const data = JSON.parse(e.data)
                    const name = data['name']
                    const item = data['item']
                    id = item.id
                    acceptItem = new WebSocket("ws://" + document.location.host + "/ws/accept_item/" + item.user)
                    const photos = data['photos']
                    const lg = data['lg']
                    $('#user_from').text(name)
                    $('#act').text(item.act == true ? "Имеется" : "Не имеется")
                    $('#date').text(item.date.split(" ")[0])
                    $('#time').text(item.date.split(" ")[1])
                    $('#find_name').text(name)
                    $('#lg').text(`${lg.airport}, терминал ${lg.terminal}`)
                    for (let i = 0; i < photos.length; i++) {
                        $('#gallery').append(`<img src="${photos[i]}" alt="" class="modal-photo">`)
                    }
                    $('#newItem').modal('show');
                    $('#closeItem').click(function () {
                        $('.modal-photo').remove()
                        acceptItem.send(JSON.stringify({'status': false, 'id': id}))
                        $('#newItem').modal('hide');
                    });
                    $('#addItem').click(function () {
                        document.location.href = document.location.origin + '/staff/add_lostitems/' + item.id;
                    });
                }

                var selectId = null;
                $('.item-refund').click(function () {
                    $('.item-refund').removeClass('select-item')
                    $('.item-refund').text('Вернуть пассажиру вещь')
                    if (selectId != $(this).data('value')) {
                        $(this).text('Выбрано для возврата пассажиру')
                        $(this).addClass('select-item')
                        selectId = $(this).data('value')
                        $('#sendItem').removeAttr('disabled')
                    } else {
                        selectId = null
                        $('#sendItem').attr('disabled', 'disabled')
                    }

                });
                $('#sendItem').click(function () {
                    document.location.href = document.location.origin + "/staff/refound_lostitems/" + selectId
                })


            }
        );

    </script>
    {#    <script src="{% static 'js/staff_panel.js' %}"></script>#}
{% endblock %}